/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #ffc2e6;
  --subtitle-color: #353430;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --shadow-color: #ff0070;
  --link-border: rgba(53, 52, 48, 0.4);
  --bg-image: url('../images/cover-image-light.png');
  --decor-item: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffc2e6;
    --subtitle-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --shadow-color: #ff0070;
    --link-border: rgba(53, 52, 48, 0.4);
    --bg-image: url('../images/cover-image-light.png');
    --decor-item: none;
  }
}

